{% extends 'base.html' %}
{% block main %}

<h3 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"><center>Change password</center></h3>
<form action="" method="POST">
  {% csrf_token %}
  <table align="center" cellpadding = "10" style="width:45%">
    <tr>
      <td>{% if form.non_field_errors %}</td>
    </tr>
    <tr>
      <td>{% for error in form.non_field_errors %}</td>
    </tr>

  <br> <p>{{ error }}</p>
    {% endfor %}
  {% endif %}

  {% for fm in form %}
    <tr>
      <td>{{fm.label_tag}} {{fm}} <br><h6 style="color:red;"> {{fm.errors|striptags}}</h6></td>
    </tr>
  {% endfor %}
    <tr>
<!--      <input type="submit" value="Save">-->

      <td colspan="4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Save changes" class="submit"></td>

    </tr>
  </table>

</form>

{% endblock %}