
                <!-- Page content-->


<div  style="background-image: url('static/assets/featureImage.jpg');background-repeat: no-repeat, repeat;background-size: cover;background-position: center; float: left;width: 100%;height:100%;">
          <!-- info start -->
<!--                    <form action="{% url 'SysTicketSaved'%}" method="POST">-->
<div style=" width: 50%; height: 100%;float:left; ">
<!--    <img src="static/assets/featureImage.png" alt="" width="100%" height="100%">-->


</div>
    <div style="float:right; width: 49.5%; height: 100%;">
                    <form action="{% url 'companyInfoSave'%}" method="POST">
	{% csrf_token %}

                        <h1 style="color: white"><center>Company Registration</center></h1>
                        <hr>




  <table align="center" cellpadding = "10" >

    <tr>
        <td  style="color: white"><B>Company Name</B></td>
<!--      <td>  </td>-->
        <td><input name="company_name"  type="text" value="" required /></td>
        </tr>
      <tr>
      <td  style="color: white"><B>Email</B></td>
      <td><input type="email" name="email" value="" required></td>
    </tr>

  <tr>
      <td  style="color: white"><B>Phone Number</B> </td>
      <td><input type="text" name="phonenumber" value="" required></td>
      </tr>
  <tr>

      <td><input type="hidden" name="request_date" type="datetime-local" value="{{current_datetime}}"/></td>
      </tr>
<tr>

    <tr>
      <td></td>
      <td colspan="4"><input style="background-color: #325288;color: white;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Submit" class="submit"></td>

    </tr>


  </table>
<br>


    </form>

</div>
 </div>
