<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Task Status</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.jfif" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
</style>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Explore Project</div>
                <div class="list-group list-group-flush">


                    <form action="{% url 'newticket' %}" method="post">
                    {% csrf_token %}
                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="New Ticket">
                    </form>

                    <form action="{% url 'customerTicketStatus' %}" method="post">
                    {% csrf_token %}

                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="Ticket Status">
                    </form>


<!--                    <form action="{% url 'newticket' %}" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="Entry Task">-->
<!--                    </form>-->



<!--                    <form action="{% url 'taskview1' %}" method="post">-->
<!--                    {% csrf_token %}-->

<!--                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="Search Task">-->
<!--                    </form>-->

<!--                    <form action="{% url 'taskreport' %}" method="post">-->
<!--                     {% csrf_token %}-->
<!--                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="Task Report">-->
<!--                    </form>-->


<!--                    <form action="{% url 'report' %}" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="Total Task">-->
<!--                    </form>-->

                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 6px;border-radius: 3px;cursor: pointer;" class="btn btn-primary" id="sidebarToggle">Press To Full Screen</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
<!--                                <li class="nav-item active"><a class="nav-link" href="#!">Hello {{ user }} </a></li>-->

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logout</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
<!--                                        <a class="dropdown-item">Logout</a>-->
                                        <form action="{%url 'logout_view'%}">
                                        <input class="dropdown-item" type="submit" value="Logout">
</form>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->


                <div class="container-fluid">            <!-- info start -->
                    <form action="{% url 'editupdate' %}" method="POST">
	{% csrf_token %}
                        <br><h5 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"><center>Task details is here</center> </h5>
                        <hr>
  <div class="container-fluid" class="con">
  <table align="center" cellpadding = "10">
{% for item in data %}

       <p><b> &emsp;Sr. Name&emsp;&emsp;&emsp;&emsp; : </b> {{ item.20 }} </p>
      <p> <b> &emsp;Perents Tasks&emsp;&emsp; : </b> {{ item.13 }} </p>
      <p> <b> &emsp;Request Date&emsp;&emsp; : </b> {{ item.10 }} </p>
      <p> <b> &emsp;ETD&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp; : </b> {{ item.4 }} </p>
      <p> <b> &emsp;Resposible Person : </b> {{ item.5 }} </p>


<!--{{form.errors}}-->
{% endfor %}
  </table>

 </div>
    </form>


                </div>

                <!-- Report div start -->
<div class="container-fluid">
                <h5  style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"><center>All updates are here</center></h5>
</div>
<!--    <table style="width:100%">-->

<!--                    <hr>-->
<!--                    <table style="width:99%">-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--        <td>ID</td>-->
<!--        <td>Date</td>-->
<!--        <td>Updates</td>-->

<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--    {% for item in report %}-->
<!--    <tr>-->
<!--        <td>{{forloop.counter}}</td>-->
<!--        <td>{{ item.3 }}</td>-->
<!--        <td>{{ item.1 }}</td>-->
<!--&lt;!&ndash;        <td>{{ item.2 }}</td>&ndash;&gt;-->

<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->



        <div class="container-fluid" style="overflow-x:auto;">


                    <table style="width:100%">
<!--    <tr>-->
        <td>ID</td>
        <td>Date</td>
        <td>Update</td>
<!--        <td>Work Stream</td>-->



<!--    </tr>-->
    {% for item in report %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ item.3 }}</td>
        <td>{{ item.1 }}</td>


    </tr>
    {% endfor %}

</table>
</div>

 {% for msg in messages %}
                        <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p> {{ msg }}</p>
  <hr>
  <p class="mb-0">If You Want To Be More Sure, Please Check The Total Task Box.</p>
</div>

{% endfor %}

                <!-- update div start -->



                                <!-- update div end -->

            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</html>
