{% extends 'newticket.html' %}

{% block main %}
                <!-- Page content-->
                <div class="container-fluid">
                    <div id="taskstatus" class="tabcontent"> <!-- Start -->
  <form action="{% url 'customerTicketInfo' %}" method="post">
    {% csrf_token %}
   <br> <label for="status"> Choose a Options:</label>
  <select name="status" id="status">
      <option value="" selected>--Choose Status--</option>
    <option value="Pending">Pending</option>
    <option value="Done">Complete</option>
  </select>
<td><input type="hidden" name="employee_id" type="text" value="{{ user }}" readonly /></td>
  <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Submit">

</form>

<!--  <form action="{% url 'customerTicketApproval' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--   <br> <label for="approval"> Waiting for approval:</label>-->
<!--  <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Click Here">-->
<!--      <td><input type="hidden" name="employee_id" type="text" value="{{ user }}" readonly /></td>-->

<!--</form>-->
</div>
<div style="overflow-x:auto;">


                    <table style="width:100%">
<!--    <tr style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">-->
<!--        <td>ID</td>-->
<!--        <td>Date</td>-->
<!--        <td>Ticket</td>-->




<!--    </tr>-->
    {% for data in approval %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ data.10 }}</td>
        <td>{{ data.13 }}</td>


    </tr>
    {% endfor %}

</table>
</div>

<div style="overflow-x:auto;">

                    <hr>
                    <table id="tickets" style="width:100%">
    <tr style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">
        <td>ID</td>
        <td>Task ID</td>
        <td>Date</td>
        <td>Perents Task</td>
        <td>Last Update</td>
        <td>Responsible Person</td>
        <td>ETD</td>
        <td style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">Ticket State</td>
         <td>Remaining Days</td>
         <td>Details</td>

    </tr>
    {% for item in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ item.0 }}</td>
        <td>{{ item.10 }}</td>
        <td>{{ item.13 }}</td>
        <td></td>
        <td>{{ item.5 }}</td>
        <td>{{ item.4 }}</td>
        <td style="background-color: #325258;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">{{ item.21 }}</td>
        <td >
           {{ item.22 }} Days
        </td>

        <td>
        <form action="{% url 'customerTaskView' %}" method="post">
            {% csrf_token %}
<!--                <input id="task_id" type="text" name="task_id">-->
<!--            <input type="submit" id="task_id" type="text" name="task_id" value="Done">-->
                <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">History</button>
            </form>
        </td>


    </tr>
    {% endfor %}

</table>
</div>
                </div>
            {% endblock %}
