<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Task Status</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
</style>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Explore Project</div>
                <div class="list-group list-group-flush">



                    <form action="{% url 'newticket' %}" method="post">
                    {% csrf_token %}
                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="New Ticket">
                    </form>


                  <form action="{% url 'customerTicketStatus' %}" method="post">
                    {% csrf_token %}

                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="Task Status">
                        <td><input type="hidden" name="employee_id" type="text" value="{{ user }}"/></td>

                    </form>



<!--                    <form action="{% url 'taskview1' %}" method="post">-->
<!--                    {% csrf_token %}-->

<!--                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="Search Task">-->
<!--                    </form>-->

<!--                    <form action="{% url 'taskreport' %}" method="post">-->
<!--                     {% csrf_token %}-->
<!--                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="Task Report">-->
<!--                    </form>-->


<!--                    <form action="{% url 'report' %}" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" class="list-group-item list-group-item-action list-group-item-light p-3" type="submit" name="" value="Total Task">-->
<!--                    </form>-->

                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 6px;border-radius: 3px;cursor: pointer;" class="btn btn-primary" id="sidebarToggle">Press To Full Screen</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <div id="taskstatus" class="tabcontent"> <!-- Start -->
  <form action="{% url 'customerTicketInfo' %}" method="post">
    {% csrf_token %}
   <br> <label for="status"> Choose a Options:</label>
  <select name="status" id="status">
      <option value="" selected>--Choose Status--</option>
    <option value="Pending">Pending</option>
    <option value="Done">Complete</option>
  </select>
<td><input type="hidden" name="employee_id" type="text" value="{{ user }}" readonly /></td>
  <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Submit">

</form>

<!--  <form action="{% url 'customerTicketApproval' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--   <br> <label for="approval"> Waiting for approval:</label>-->
<!--  <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Click Here">-->
<!--      <td><input type="hidden" name="employee_id" type="text" value="{{ user }}" readonly /></td>-->

<!--</form>-->
</div>



<hr>

<div style="overflow-x:auto;">


                    <table style="width:100%">
<!--    <tr style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">-->
<!--        <td>ID</td>-->
<!--        <td>Date</td>-->
<!--        <td>Ticket</td>-->




<!--    </tr>-->
    {% for data in approval %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ data.10 }}</td>
        <td>{{ data.13 }}</td>


    </tr>
    {% endfor %}

</table>
</div>

<div style="overflow-x:auto;">

                    <hr>
                    <table style="width:100%">
    <tr style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">
        <td>ID</td>
        <td>Task ID</td>
        <td>Date</td>
        <td>Perents Task</td>
        <td>Last Update</td>

        <td>Assign Resource</td>

        <td>ETD</td>
        <td>Ticket State</td>
         <td>Remaining Days</td>
         <td>Details</td>

    </tr>
    {% for item in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ item.0 }}</td>
        <td>{{ item.10 }}</td>
        <td>{{ item.13 }}</td>
        <td></td>
        <td>{{ item.5 }}</td>
        <td>{{ item.4 }}</td>
        <td>{{ item.21 }}</td>
        <td >
           {{ item.22 }}
        </td>

        <td>
        <form action="{% url 'customerTaskView' %}" method="post">
            {% csrf_token %}
<!--                <input id="task_id" type="text" name="task_id">-->
<!--            <input type="submit" id="task_id" type="text" name="task_id" value="Done">-->
                <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">History</button>
            </form>
        </td>


    </tr>
    {% endfor %}

</table>
</div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>

    </body>
</html>

