

<style>
.button {
  background-color: #325288; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  clear: both;
  float: left;

}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.button2 {
width: 100%;
}

.button3 {
width: 100%;
}

.button2:hover {
  background-color: green;
}


</style>

{% extends 'base.html' %}
{% block main %}

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
   <br><center> <h4  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h4></center>
    {% endfor %}
</ul>
{% endif %}
<div class="column">

	{% csrf_token %}
<h3 class="button button2">Edit group</h3>


    <form action="{% url 'GroupEditSave' %}" method="POST">
	{% csrf_token %}

  <table align="center" cellpadding = "10">
{% for data in group_name_id %}
    <tr>
        <td><B>Group Name</B></td>
<!--      <td>  </td>-->
        <td><input name="group_name" type="text" value="{{ data.1 }}" required /></td>
        <td><input hidden name="group_id" type="text" value="{{ data.0 }}" required /></td>
        </tr>
      <tr>

      <tr>
      <td><B>Group Name</B></td>
<!--      <td>  </td>-->
        <td><input name="group_email" type="text" value="{{ data.2 }}" required /></td>
        </tr>
      <tr>


    <tr>
      <td></td>
      <td colspan="4"><input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Update" class="submit"></td>
    </tr>
{% endfor %}
  </table>

    </form>

</div>


                                                                    <!-- left column start -->

<div class="column2">

<h3  class="button button3">All group</h3>

<!--{% for msg in msg %}-->
<!--  <center><h4 style="color:green;" class="alert-heading">Well done!</h4></center>-->
<!--  <center><p style="color:green;"> {{ msg }}</p></center>-->
<!--{% endfor %}-->



<table id="tickets" style="width:100%">
    <tr style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">
        <td>ID</td>
        <td>Group name</td>
        <td>Action</td>
        <td>Delete</td>

    </tr>
    {% for item in AllGroup %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ item.1 }}</td>


        <td>
        <form action="" method="post">
            {% csrf_token %}
            <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">Edit</button>
        </form>
        </td>
        <td>
        <form action="" method="post">
            {% csrf_token %}
            <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</div>


<hr>




<!--  </table>-->
  {% endblock %}


