


<!-- partial:index.partial.html -->
<div  style="background-image: url('static/assets/featureImage.jpg');background-repeat: no-repeat, repeat;background-size: cover;background-position: center; float: left;width: 100%;height:100%;">
    <div  style=" float: left;width: 50%;height:100%;">
<!--        <img src="static/assets/featureImage.png" alt="" width="100%" height="100%">-->
<!--        <h1 style="color: white"; text-align: center;>S E C E U R  S Y S T E M S  L T D.</h1>-->
    </div>
<div style="float:right; width: 49.5%; height: 100%;">
    <h1 style="color: white"><center>Login here</center></h1>
                        <hr>
    {% for msg in messages %}
<!--  <center><h4 style="color:green;" class="alert-heading">Sorry :(</h4></center>-->
  <center><p style="color:red;"> {{ msg }}</p></center>
{% endfor %}


    <form method="POST" action="">

{% csrf_token %}
        <table align="center" cellpadding = "10" style="width:45%">
            <tr>
                <td style="color: white"><B>
                User name
                </B></td>
                <td>
                    <input  type="text" placeholder="username" id="user" name="username" required/>
                </td>
            </tr>
            <tr>
                <td style="color: white"><B>
                Password
                </B></td>
                <td>
                    <input  type="password" placeholder="password" id="pass" name="password" required/>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                <button>login</button>
                </td>
            </tr>
<!--            <tr><td>-->
<!--      <p>Not registered? <a href="#">Create an account</a></p>-->
<!--            </tr></td>-->
      </table>
    </form>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>
</div>
</div>
