<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sample</title>
</head>
<body>
{% extends 'test.html' %}
{% block main %}

Here is the data which will show in new page
Here is the data which will show in new page
Here is the data which will show in new page
Here is the data which will show in new page
Here is the data which will show in new page
Here is the data which will show in new page
Here is the data which will show in new page
Here is the data which will show in new page
Here is the data which will show in new page
Here is the data which will show in new page

{% endblock %}
</body>
</html>