{% extends 'test.html' %}
{% block main %}
                <!-- Page content-->



                <div class="container-fluid">            <!-- info start -->
                    <form action="{% url 'dataTicketSave'%}" method="POST">
	{% csrf_token %}

                        <h3 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"><center>DataTeam New Ticket: {{current_datetime}} </center></h3>
                        <hr>&emsp;

  <div class="con">

  <table align="center" cellpadding = "10">

    <tr>
      <td>Employee ID</td>
<!--      <td>  </td>-->
        <td><input name="employee_id" type="text" value="{{ user }}" readonly /></td>
        </tr>
      <tr>
      <td>Ticket Name</td>
      <td><textarea name="task" type="text" rows="2" cols="56" required></textarea></td>
    </tr>

  <tr>
      <td>Comment </td>
      <td><textarea name="comment" type="text" rows="2" cols="56"></textarea></td>
      <td><input type="hidden" name="approval" type="text" value="Not Started yet" readonly /></td>
      </tr>
  <tr>

      <td><input type="hidden" name="request_date" type="datetime-local" value="{{current_datetime}}"/></td>
      </tr>
<tr>
    <td>
    Ticket Send For
    </td>
    <td >
<input type="radio" id="systems" name="team" value="systems" required>
<label for="systems"><b>Systems</b></label>&emsp;
<input type="radio" id="TechOps" name="team" value="TechOps">
<label for="TechOps"><b>TechOps</b></label>&emsp;
<input type="radio" id="DataTeam" name="team" value="DataTeam">
<label for="DataTeam"><b>DataTeam</b></label>
</tr>
      <tr>
      <td></td>
      <td colspan="4"><input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Submit" class="submit"></td>

    </tr>


  </table>
<br>
{% for msg in messages %}
                        <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p> {{ msg }}</p>

</div>

{% endfor %}
 </div>

    </form>
                </div>
           {% endblock %}