{% extends 'base.html' %}
{% block main %}
                <!-- Page content-->



                          <!-- info start -->

<style>
.button {
  background-color: #325288; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  clear: both;
  float: left;


}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.button2 {
width: 100%;
}

.button2:hover {
  background-color: green;
}


</style>



<div>
<div class="column">
  <form action="{% url 'sysnewticket'%}" method="POST">
	{% csrf_token %}
<button class="button button2">Support ticket</button>
  </form>
</div>

<div class="column">
    <form action="{% url 'dbAccess'%}" method="POST">
	{% csrf_token %}
<button  class="button button2">App/DB access ticket</button>
    </form>
</div>
</div>
<hr>
{% for msg in messages %}

  <center><h4 style="color:green;" class="alert-heading">Well done!</h4></center>
  <center><p style="color:green;"> {{ msg }}</p></center>



{% endfor %}

                    <form action="{% url 'SysTicketSaved'%}" method="POST">
	{% csrf_token %}


  <div class="con">
  <table  align="center" cellpadding = "10" style="width:50%">
    <tr>
      <td>Employee ID</td>
<!--      <td>  </td>-->
        <td><input name="employee_id" type="text" value="{{ user }}" readonly /></td>
        </tr>
      <tr>
      <td>Ticket Name</td>
      <td><textarea name="task" type="text" rows="2" cols="56" required></textarea></td>
    </tr>

  <tr>
      <td>Comment </td>
      <td><textarea name="comment" type="text" rows="2" cols="56"></textarea></td>
      <td><input type="hidden" name="approval" type="text" value="Not Started yet" readonly /></td>
      </tr>
  <tr>

      <td><input type="hidden" name="request_date" type="datetime-local" value="{{current_datetime}}"/></td>
      </tr>
<tr>
    <td>
    Ticket Send For
    </td>
    <td >
<input type="radio" id="systems" name="team" value="systems" required>
<label for="systems"><b>Systems</b></label>&emsp;
<input type="radio" id="TechOps" name="team" value="TechOps">
<label for="TechOps"><b>TechOps</b></label>&emsp;
<input type="radio" id="DataTeam" name="team" value="DataTeam">
<label for="DataTeam"><b>DataTeam</b></label>
</tr>
      <tr>
      <td></td>
      <td colspan="4"><input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Submit" class="submit"></td>

    </tr>


  </table>
<br>

 </div>

 </form>

                                                        <!-- Db Access Form Start -->

<!--<table align="center" cellpadding = "10">-->
<!--<form action="{% url 'dbAccess'%}" method="POST">-->
<!--    {% csrf_token %}-->
<!--<button class="button button2" style="background-color: #325288; border: none;color: white;padding: 7px;text-align: center;text-decoration: none;display: inline-block;font-size: 20px;margin: -25px 5px; margin-left: 27%;border-radius: 8px;" type="submit">Request to Database access</button>-->
<!--</form>-->
<!--</table>-->

           {% endblock %}