{% extends 'base.html' %}
{% block main %}



<style>
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}


</style>

<h3 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"><center>New Ticket: {{current_datetime}} </center></h3>


<div class="row">
  <div class="column">
    <table border="1" align="left" cellpadding = "10" style="width:50%">

    <tr>
      <td>Employee ID</td>
<!--      <td>  </td>-->
        <td><input name="employee_id" type="text" value="{{ user }}" readonly /></td>
        </tr>
      <tr>
      <td>Ticket Name</td>
      <td><textarea name="task" type="text" rows="2" cols="56" required></textarea></td>
    </tr>

  <tr>
      <td>Comment </td>
      <td><textarea name="comment" type="text" rows="2" cols="56"></textarea></td>
      <td><input type="hidden" name="approval" type="text" value="Not Started yet" readonly /></td>
      </tr>
  <tr>

      <td><input type="hidden" name="request_date" type="datetime-local" value="{{current_datetime}}"/></td>
      </tr>
<tr>
    <td>
    Ticket Send For
    </td>
    <td >
<input type="radio" id="systems" name="team" value="systems" required>
<label for="systems"><b>Systems</b></label>&emsp;
<input type="radio" id="TechOps" name="team" value="TechOps">
<label for="TechOps"><b>TechOps</b></label>&emsp;
<input type="radio" id="DataTeam" name="team" value="DataTeam">
<label for="DataTeam"><b>DataTeam</b></label>
</tr>
      <tr>
      <td></td>
      <td colspan="4"><input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Submit" class="submit"></td>

    </tr>


  </table>
  </div>
  <div class="column">
    <table border="1" align="center" cellpadding = "10">

    <tr>
      <td>Employee ID</td>
<!--      <td>  </td>-->
        <td><input name="employee_id" type="text" value="{{ user }}" readonly /></td>
        </tr>
      <tr>
      <td>Ticket Name</td>
<!--      <td><textarea name="task" type="text" rows="2" cols="56" required></textarea></td>-->
          <td><input name="task" type="text" value="Access Database" readonly /></td>
    </tr>
      <tr>
      <td>Application Project Name*</td>
          <td><input name="application_project_name" type="text" value="" required /></td>
      </tr>

      <tr>
      <td>Access Environtment*</td>
          <td>
      <select name="access_environtment" id="access_environtment">
          <option value="" selected></option>
                <option value="live" selected>Live</option>
                <option value="staging">Staging</option>
                <option value="local">Local</option>

      </select>&emsp;&emsp;
          </td>
      </tr>

      <tr>
      <td>Access Privilege type*</td>
          <td><input name="access_privilege_type" type="text" value="" required /></td>
      </tr>

      <tr>
      <td>Access Duaration*</td>
          <td><input name="access_Duaration" type="text" value="" required /></td>
      </tr>

      <tr>
       <td>Why is this access needed*</td>
          <td><input name="why_access_needed" type="text" value="" required /></td>
      </tr>

      <tr>
       <td>Approved by*</td>
          <td><input name="approved_by" type="text" value="" required /></td>
      </tr>




  <tr>
      <td>Comment </td>
      <td><textarea name="comment" type="text" rows="2" cols="30"></textarea></td>
      <td><input type="hidden" name="approval" type="text" value="Not Started yet" readonly /></td>
      </tr>
  <tr>

      <td><input type="hidden" name="request_date" type="datetime-local" value="{{current_datetime}}"/></td>
      </tr>
<tr>
    <td>
    Ticket Send For
    </td>
    <td >
<input type="radio" id="systems" name="team" value="systems" required>
<label for="systems"><b>Systems</b></label>&emsp;
<input type="radio" id="TechOps" name="team" value="TechOps">
<label for="TechOps"><b>TechOps</b></label>&emsp;
<input type="radio" id="DataTeam" name="team" value="DataTeam">
<label for="DataTeam"><b>DataTeam</b></label>
</tr>
      <tr>
      <td></td>
      <td colspan="4"><input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Submit" class="submit"></td>

    </tr>


  </table>
  </div>
</div>


{% endblock %}