

{% extends 'test.html' %}

{% block main %}

                <!-- Page content-->
                <form action="{% url 'TicketStatus' %}" method="post">
    {% csrf_token %}
   <br> <label for="status">&emsp; Choose a Options:</label>
  <select name="status" id="status">
      <option value="" selected>--Choose Status--</option>
    <option value="Pending">Pending</option>
    <option value="Done">Complete</option>
  </select>
<td><input type="hidden" name="employee_id" type="text" value="{{ user }}" readonly /></td>
  <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Submit">

</form>

<div  class="container-fluid" style="overflow-x:auto;">

                    <hr>
                    <table id = "tickets" style="width:100%">
   <tr style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"></h2>
        <td>ID</td>
        <td>Date</td>
        <td>Task Creator</td>
        <td>Assign To</td>
<!--        <td>Work Stream</td>-->
        <td>Task</td>
        <td>Status</td>
        <td>Remaining Days</td>
        <td>Action</td>
        <td>Update</td>

    </tr>
    {% for item in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ item.10 }}</td>
        <td>{{ item.20 }}</td>
        <td>{{ item.5 }}</td>
        <td>{{ item.13 }}</td>
        <td>{{ item.21 }}</td>
        <td>{{ item.22 }} Days</td>

        <td>
        <form action="{% url 'edit' %}" method="post">
            {% csrf_token %}
<!--                <input id="task_id" type="text" name="task_id">-->
<!--            <input type="submit" id="task_id" type="text" name="task_id" value="Done">-->
                <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">Assign to user</button>
            </form>
        </td>

        <td>
        <form action="{% url 'lastupdate' %}" method="post">
            {% csrf_token %}
<!--                <input id="task_id" type="text" name="task_id">-->
<!--            <input type="submit" id="task_id" type="text" name="task_id" value="Done">-->
                <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">Update/View</button>
            </form>
        </td>


    </tr>
    {% endfor %}

</table>

</div>
{% endblock %}