
{% extends 'test.html' %}

{% block main %}
                <!-- Page content-->


                <div class="container-fluid">            <!-- info start -->
                    <form action="{% url 'editupdate' %}" method="POST">
	{% csrf_token %}
                        <br><h5 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"><center>Task details is here</center> </h5>
                        <hr>
  <div class="con">
  <table align="center" cellpadding = "10">
{% for item in data %}

       <p><b> &emsp;Sr. Name : </b> {{ item.11 }} </p>
      <p> <b> &emsp;Perents Tasks : </b> {{ item.17 }} </p>
      <p> <b> &emsp;Request Date : </b> {{ item.10 }} </p>
      <p> <b> &emsp;needed_date : </b> {{ item.4 }} </p>
      <p> <b> &emsp;Assign Person : </b> {{ item.5 }} </p>


<!--{{form.errors}}-->
{% endfor %}
  </table>

 </div>
    </form>

                    <form action="{% url 'action' %}" method="post">
            {% csrf_token %}
                        {% for item in data %}
<!--                <input id="task_id" type="text" name="task_id">-->
<!--            <input type="submit" id="task_id" type="text" name="task_id" value="Done">-->
                        <p><b>&emsp;Task Closed :</b>&emsp;<button style="background-color: #367E18;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">Closed the task</button></p>
                        {% endfor %}
            </form>
                </div>

                <!-- Report div start -->
<div class="container-fluid">
                <h5 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"><center>All updates are here</center></h5>
</div>
<!--    <table style="width:100%">-->

<!--                    <hr>-->
<!--                    <table style="width:99%">-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--        <td>ID</td>-->
<!--        <td>Date</td>-->
<!--        <td>Updates</td>-->

<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--    {% for item in report %}-->
<!--    <tr>-->
<!--        <td>{{forloop.counter}}</td>-->
<!--        <td>{{ item.3 }}</td>-->
<!--        <td>{{ item.1 }}</td>-->
<!--&lt;!&ndash;        <td>{{ item.2 }}</td>&ndash;&gt;-->

<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->



        <div  class="container-fluid" style="overflow-x:auto;">


                    <table id="tickets" style="width:100%">
<!--    <tr>-->
        <td>ID</td>
        <td>Date</td>
        <td>Update</td>
<!--        <td>Work Stream</td>-->



<!--    </tr>-->
    {% for item in report %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ item.3 }}</td>
        <td>{{ item.1 }}</td>


    </tr>
    {% endfor %}

</table>
</div>

 {% for msg in messages %}
                        <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p> {{ msg }}</p>
</div>

{% endfor %}

                <!-- update div start -->

                <div class="container-fluid">            <!-- info start -->
                    <form action="{% url 'updateinfo' %}" method="POST">
	{% csrf_token %}
                        <br><br><center><h5 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">Entry Update Write Here</h5></center>
                        <hr>

  <div class="con">
  <table align="center" cellpadding = "10">
{% for item in data %}

<!--      Last Update Write Here: <input name="task_details" type="text" value="" />-->
      &emsp;Update Write Here : <br><br>
      &emsp;<textarea name="task_details" type="text" rows="2" cols="40"></textarea>
<!--      <br><label for="update_Date">Date: </label>-->
<!--    <input id="update_Date" type="text" name="update_date" value="{{current_datetime}}">-->
     <input type="hidden" name="update_Date" type="text" value="{{current_datetime}}"/>
<!--     <input  name="{{ user }}" type="text" value="{{ user }}"/>-->

      <input type="hidden" name="id" type="text" value="{{ item.0 }}"/> <p>
            <br> &emsp;<input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Save" class="submit">

<!--  <tr>-->
<!--&lt;!&ndash;      <td>Latest Update</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td><textarea name="task" type="text" rows="2" cols="20"></textarea></td>&ndash;&gt;-->
<!--      <td>Latest Update</td>-->
<!--&lt;!&ndash;      <td><input name="task" type="text" value="{{ item.22 }}"/></td>&ndash;&gt;-->
<!--      <td><input name="task_details" type="text" value="" /></td>-->
<!--       <td>ID</td>-->
<!--      <td><input name="id" type="text" value="{{ item.0 }}"/></td>-->
<!--    </tr>-->

<!--{{form.errors}}-->
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td colspan="4"><input type="submit" value="Save" class="submit"></td>-->
<!--    </tr>-->
 {% endfor %}
  </table>

 </div>
    </form>
                </div>


                                <!-- update div end -->

            {% endblock %}