{% extends 'base.html' %}
{% block main %}

                <div class="container-fluid">            <!-- info start -->
                    <form action="{% url 'editupdate' %}" method="POST">
	{% csrf_token %}
                        <br><h5 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"><center>Task details is here</center> </h5>
                        <hr>
  <div class="con">
  <table align="center" cellpadding = "10">
{% for item in data %}

       <p><b> &emsp;Creator : </b> {{ item.20 }} </p>
      <p> <b> &emsp;Tasks : </b> {{ item.13 }} </p>
      <p> <b> &emsp;Comment : </b> {{ item.19 }} </p>
      <p> <b> &emsp;Request Date : </b> {{ item.10 }} </p>
      <p> <b> &emsp;needed_date : </b> {{ item.4 }} </p>
      <p> <b> &emsp;Assign Person : </b> {{ item.5 }} </p>


<!--{{form.errors}}-->
{% endfor %}
  </table>

 </div>
    </form>

                    <form action="{% url 'action' %}" method="post">
            {% csrf_token %}
                        {% for item in data %}
<!--                <input id="task_id" type="text" name="task_id">-->
<!--            <input type="submit" id="task_id" type="text" name="task_id" value="Done">-->
                        <p><b>&emsp;Task Closed :</b>&emsp;<button style="background-color: #367E18;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">Closed the task</button></p>
                        {% endfor %}
            </form>
                </div>

                <!-- Report div start -->
<div class="container-fluid">
                <h5 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;"><center>All updates are here</center></h5>
</div>



        <div  class="container-fluid" style="overflow-x:auto;">


                    <table id="tickets" style="width:100%">
<!--    <tr>-->
        <td>ID</td>
        <td>Date</td>
        <td>Update</td>
<!--        <td>Work Stream</td>-->



<!--    </tr>-->
    {% for item in report %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ item.3 }}</td>
        <td>{{ item.1 }}</td>


    </tr>
    {% endfor %}

</table>
</div>



                <!-- update div start -->

                <div class="container-fluid">            <!-- info start -->
                    <form action="{% url 'updateinfo' %}" method="POST">
	{% csrf_token %}
                        <br><br><center><h5 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">Entry Update Write Here</h5></center>
                        <hr>

  <div class="con">
  <table align="center" cellpadding = "10">
{% for item in data %}

<!--      Last Update Write Here: <input name="task_details" type="text" value="" />-->
      &emsp;Update Write Here : <br><br>
      &emsp;<textarea name="task_details" type="text" rows="2" cols="40"></textarea>
<!--      <br><label for="update_Date">Date: </label>-->
<!--    <input id="update_Date" type="text" name="update_date" value="{{current_datetime}}">-->
     <input type="hidden" name="update_Date" type="text" value="{{current_datetime}}"/>

      <input type="hidden" name="id" type="text" value="{{ item.0 }}"/> <p>
      <input type="hidden" name="comment" type="text" value="{{ item.19 }}"/> <p>
      <input type="hidden" name="task" type="text" value="{{ item.13 }}"/> <p>
<!--            <br> &emsp;<input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Save" class="submit">-->
      &emsp;<button style="background-color: #367E18;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="value" type="submit" value="Save">Save</button>
      &emsp;<button style="background-color: #367E18;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="value" type="submit" value="Save & Closed">Save & Closed</button>
<!--            &emsp;<input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Save & Closed" class="submit">-->
 {% endfor %}
  </table>

 </div>
           </div>

</div>
        </div>
{% endblock %}