
<style>
.button {
  background-color: #325288; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  clear: both;
  float: left;

}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.button2 {
width: 100%;
}

.button3 {
width: 100%;
}

.button2:hover {
  background-color: green;
}


</style>

{% extends 'base.html' %}
{% block main %}

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
   <br><center> <h4  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h4></center>
    {% endfor %}
</ul>
{% endif %}
<div class="column">

	{% csrf_token %}
<h3 class="button button2">Create user</h3>


    <form method="POST" action="" align="center">
<!--       <br> <h3 style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 2px;border-radius: 3px;cursor: pointer;">User create form</h3>-->
<!--        <br>-->

<!--        {% for msg in messages %}-->
<!--          <center><h4 style="color:green;" class="alert-heading">Well done!</h4></center>-->
<!--          <center><p style="color:green;"> {{ msg }}</p></center>-->
<!--        {% endfor %}-->

        <table align="center"cellpadding = "8">
        {% csrf_token %}
       <tr><td> User Name*  </td><td>       {{form.username}}</td></tr>
       <tr><td> First Name  </td><td>       {{form.first_name}} </td></tr>
       <tr><td> Last Name  </td><td>       {{form.last_name}}</td></tr>
        <tr><td>Email*     </td><td>         {{form.email}}</td></tr>
        <tr><td>Password*   </td><td>        {{form.password1}}</td></tr>
        <tr><td>Confirm Password*</td><td>   {{form.password2}}</td></tr>
        <tr>
            <tr><td><B>Super user  </td><td>    {{form.is_superuser}}</B></td></tr>
            <tr><td><B>Admin Pannel Access     </td><td>   {{form.is_staff}}</B></td></tr>
        </tr>

<!--        -->

        <tr><td></td><td> <input style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" type="submit" value="Submit" type="submit" name="Create User"></td></tr>
        {{form.errors}}
            </table>
    </form>

</div>


                                                                    <!-- left column start -->

<div class="column2">

<h3  class="button button3">All user</h3>

<!--{% for msg in msg %}-->
<!--  <center><h4 style="color:green;" class="alert-heading">Well done!</h4></center>-->
<!--  <center><p style="color:green;"> {{ msg }}</p></center>-->
<!--{% endfor %}-->



<table id="tickets" style="width:100%">
    <tr style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;">
        <td>ID</td>
        <td>User</td>
        <td>Team</td>
        <td>Action</td>
        <td>Delete</td>

    </tr>
    {% for item in Alluser %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ item.4 }}</td>


        <td>
        <form action="{% url 'UserAssignToTeam'%}" method="post">
            {% csrf_token %}
            <center><button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">Assing Team</button></center>
        </form>
        </td>

        <td>
        <form action="{% url 'UserAssignToTeam'%}" method="post">
            {% csrf_token %}
           <center> <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">Edit</button></center>
        </form>
        </td>

        <td>
        <form action="{% url 'UserDelete'%}" method="post">
            {% csrf_token %}
           <center> <button style="background-color: #325288;color: white;border: 1px solid #e4e4e4;padding: 4px;border-radius: 3px;cursor: pointer;" name="id" type="submit" value="{{ item.0 }}">Delete</button></center>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</div>


<hr>




<!--  </table>-->
  {% endblock %}

